<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-card-entrada [entrada]="entrada" [soloLectura]="true"></app-card-entrada>
</ion-content>
