<ion-card *ngIf="entrada">
  <ion-card-content>
    <p id="fechaTexto">{{entrada.fechaTexto}}</p>
    <p>{{entrada.fechaTexto}}</p>
    <ion-textarea rows="15" [(ngModel)]="entrada.texto" [disabled]="soloLectura">

    </ion-textarea>
  </ion-card-content>
  <ion-button expand="block" (click)="guardar()" *ngIf="!soloLectura">
    Guardar
  </ion-button>
</ion-card>